# Ignore node_modules, as dependencies will be installed inside the Docker container
node_modules

# Ignore build artifacts and output
build
dist
coverage

# Ignore any environment-specific files
.env

# Ignore any local development files
*.log
.DS_Store